#contact-form {
    text-align: center;
    border-width: 10px;
    margin: 50px;
}
h3 {
    color: brown;
    margin-top: 50px;
    font-family: cursive;
}

.form-control {
    margin-bottom: 16px;
    width: 500px;
    height: 30px;
}

.form-control-big {
    margin-bottom: 16px;
    width: 500px;
    height: 100px;